html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0c0c04;
}

.button {
    padding: 10px 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    color: #22b033;
}

.button:hover {
    cursor: pointer;
    color: #0c0c04;
    background-color: #22b033;
    border-color: #0c0c04;
}

#search {
    background-color: #0c0c04;
    margin: 10px;
    padding: 5px;
    border: none;
    border-bottom: 2px solid;
    border-radius: 2px;
    font-size: 25px;
    color: #22b033;
}

textarea:focus, input:focus {
    outline: none;
}

::placeholder {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #22b033;
}

input[type="submit"] {
    margin: 10px;
    background-color: #22b033;
    color: #0c0c04;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #22b033;
}

input[type="submit"]:hover {
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #b1f9c6;
    background-color: #b1f9c6;
}

.menu {
    margin: 10px;
}

.answer {
    width: 50%;
    color: #22b033;
    font-size: 25px;
    text-align: center;
    margin: 10px;
    padding: 0;
}

.ansbefore {
    visibility: hidden;
}

/*menu styling*/

.api {
    width: 60%;
    padding: 10px;
    font-size: 25px;
    text-align: left;
    margin: 10px 0;
}

/*quote syling*/

.quote {
    width: 50%;
    font-size: 25px;
    text-align: center;
    margin: 10px 10px;
    padding: 10px 10px;
}

.author {
    width: 50%;
    font-size: 25px;
    text-align: right;
    margin: 10px 10px;
    padding: 10px 10px;

}

.back {
   color: #d132d1; 
}

.back:hover {
    background-color: #d132d1;
}

img {
    width: 25%;
    height: 25%;
    object-fit: cover;
    /*border-style: solid;*/
    /*border-width: 2px;*/
    /*border-color: #22b033;*/
}

/*excuse styling*/

select {
    background-color: #0c0c04;
    color: #22b033;
    border-width: 2px;
    font-size: 25px;
    margin: 10px;
    padding: 5px;
}

/*styling weather*/

.main {
    color: #22b033;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}

.weather-humidity, .weather-windspeed {
    font-size: 15px;
}

.main div {
    margin: 10px 10px;
}

.weather-icon img {
    width: 100px;
    height: 100px;
}

.daily {
    display: flex;
    flex-direction: row;
}

.day {
    display: flex;
    flex-direction: column;
    color: #22b033;
    font-size: 25px;
    margin: 0 30px;
}

.name {
    margin-bottom: 15px;
}

.max {
    font-size: 30px;
    font-weight: 800;
}

.min {
    font-size: 15px;
    font-weight: 600;
}

.icon img{
    width: 50px;
    height: 50px;
}

.filter-green {
    filter: invert(51%) sepia(85%) saturate(528%) hue-rotate(77deg) brightness(90%) contrast(86%);
}

/*map styling*/

#map {
    width: 600px;
    height: 400px;
}

/*styling recipe*/

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #22b033;
    font-size: 25px;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-title {
    text-align: left;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

/*.recipe-desc {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-evenly;*/
/*}*/

.recipe-summary {
    width: 40%;
}

.recipe-img {
    margin: 30px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-style: solid;
    border-width: 2px;
    border-radius: 4px;
    border-color: #22b033;
}

.recipe-ingredients {
    width: 40%;
}

.recipe-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-steps-title {
    width: 40%;
}

.recipe-steps {
    width: 40%;
    margin-bottom: 10px;
}
